* {
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
  font-family: "Rubik", sans-serif;
}

h1 {
  color: white;
}

.inicio_ini {
  color: orange;
  width: 100%;
  background-color: orange;
  font-weight: 400;
}

span.titulo__titulo {
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  font-size: 2em;
  align-items: center;
  color: rgb(0, 0, 0);
  top: 70%;
}

h1.discografia {
  color: white;
}

footer {
  position: relative;
  top: 50px;
  background-color: orange;
  width: 100%;
}

.navbar {
  background-color: orange;
  /* .nav-item{
  	position: relative;
  	left: 700px;
  	padding-left: 10px;
  	padding-right: 10px;
  } */
}

.navbar_style ul li a:hover {
  color: orange !important;
}

.nav-item:hover {
  border-bottom: 1px solid white;
  transition: all 0.3s ease;
  font-weight: bold;
}

div .contenedor {
  background-color: orange;
}

div.main-content {
  height: 800px;
}

a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: rgb(146, 95, 1);
  font-weight: bold;
}

.img-kanye {
  position: relative;
  top: 200px;
  border-radius: 15px;
}

.lead {
  padding: 10px;
  font-size: 18px;
}

.pt-3 {
  padding-top: 1rem;
}

.body_style {
  color: rgb(3, 3, 3);
}

.texto-contacto {
  font-size: 25px;
}

.texto-artista {
  color: white;
}

.parrafo {
  color: white;
}

.seguir {
  color: white;
}

img.kanye {
  position: relative;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  width: 800px;
  height: 400px;
}

h2.discografia {
  color: white;
}

.spotify {
  position: relative;
  left: 20%;
}

.main_titule {
  font-size: 2rem;
}

.galeria-tex {
  color: white;
}

.tour {
  color: white;
}

.parallax {
  background-image: url(../img/tour-modificado.jpg);
  height: 550px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.list-group {
  color: black;
  background-color: black;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

.btn-primary {
  background-color: orange;
}
.btn-primary:hover {
  background-color: orange !important;
  transition: all ease 0.5s;
  font-weight: bold;
}
.btn-primary:active {
  background-color: orange;
  color: rgb(0, 0, 0);
  transition: 0.5s;
}
.btn-primary:link {
  color: rgb(0, 0, 0);
  transition: all ease 0.5s;
}
.btn-primary:visited {
  background-color: orange;
  color: black;
  transition: all ease 0.5s;
}

.list-group-item {
  background-color: rgb(0, 0, 0);
}

.text-center {
  color: white;
}

.container-form {
  bottom: 10%;
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}
.container-form form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}
.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 140px;
}
.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.container-form .btn-enviar:hover {
  background: orange;
}

.img-container {
  height: 450px;
  width: 40%;
  background-color: red;
  position: absolute;
  top: 30%;
  right: 5%;
  border-radius: 10px;
  background-image: url(../img/kanyew.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 2px;
  box-shadow: 1px 1px 4px #222;
}

.texto-contacto {
  font-size: 1.4em;
}

.contacto {
  margin-bottom: 15px;
  font-size: 2em;
  width: 200px;
  color: white;
}

.contacto-p {
  font-size: 17px;
  color: white;
  line-height: 1.6;
  margin-bottom: 30px;
}

textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

@media only screen and (max-width: 768px) {
  body h1 {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  img .ye-tour {
    max-width: 1140px;
    max-height: 1140px;
  }
}
@media (min-width: 992px) {
  img .ye-tour {
    max-width: 100% px;
    max-height: 960px;
  }
}
@media (min-width: 768px) {
  img .ye-tour {
    max-width: 100% px;
    max-width: 720px;
    left: 5%;
  }
}
@media (min-width: 576px) {
  img .ye-tour {
    max-width: 100% px;
    max-height: 350px;
  }
}
@media (min-width: 470px) {
  img .ye-tour {
    max-width: 100%;
    max-height: 300px;
  }
}
@media (min-width: 992px) {
  .img-kanye {
    position: relative;
    top: 100px;
  }
}
@media (min-width: 412px) {
  .img-kanye {
    position: relative;
    top: 0;
  }
}
@media (min-width: 375px) {
  .img-kanye {
    position: relative;
    top: 0;
  }
}
@media (min-width: 360px) {
  .img-kanye {
    position: relative;
    top: 0;
  }
}
/*   @media (min-width: 1200px) {
	img {
		.kanye {
			max-width: 100%;
			max-height: 1140px;
		}
	}
}
@media (min-width: 992px) {
	img {
		.kanye {
			max-width: 100%;
			max-height: 960px;
		}
	}
}
@media (min-width: 768px) {
	img {
		.kanye{
			max-width: 100%;
			max-width: 720px;
			left: 5%;
		}
	}
}
@media (min-width: 576px) {
	img {
		.kanye {
			max-width: 100%;
			max-height: 350px;
		}
	}
} */

/*# sourceMappingURL=style.css.map */
