$vista:mobile;
$h1Desktop: 3rem;
$h1Mobile: 1.2rem;
body{
	@if $vista == desktop{
		@media only screen and (min-width:1024px){
			h1{font-size: $h1Desktop;}
		}
	} @else if $vista == mobile{
		@media only screen and (max-width: 768px){
			h1{font-size: $h1Mobile;}
		}
	} @else{
		h1{font-size: 1rem;}
	}
}

@media (min-width: 1200px) {
	img {
		.ye-tour {
			max-width: 1140px;
			max-height: 1140px;
		}
	}
}
@media (min-width: 992px) {
	img {
		.ye-tour {
			max-width: 960px;
			max-height: 960px;
		}
	}
}
@media (min-width: 768px) {
	img {
		.ye-tour {
			max-width: 720px;
			max-width: 720px;
			left: 5%;
		}
	}
}
@media (min-width: 576px) {
	img {
		.ye-tour {
			max-width: 540px;
			max-height: 540px;
		}
	}
}
